@import "../../../styles/media_queries";
@import "../../../styles/colors";

.appWrapper {
  text-align: center;
  // margin: 10px 10px 20px 10px;
  display: flex;
  flex-direction: row;
  background-color: $yellow;
  height: 100vh;
}
