@import "../../../styles/media_queries";

.plantListWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@include for-tablet-portrait-up {
  .plantListWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
