@import "../../../styles/font_styles";
@import "../../../styles/colors";
.pageHeading {
  font-size: $large;
  color: $green;
  text-shadow: 2px 2px 2px $yellow;
  font-family: $displayFont;
  font-weight: 100;
  margin-bottom: 20px;
}
