@import "../../../styles/font_styles";
@import "../../../styles/colors";
.pageHeading {
  font-size: $large;
  color: $green;
  text-shadow: 2px 2px 2px $yellow;
  font-family: $displayFont;
  font-weight: 900;
  margin: 5px 0 20px 0;
}
