.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltipText {
  visibility: hidden;
  opacity: 0.8;
  width: 80px;
  background-color: rgba(0, 0, 0, 0.455);
  color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  padding: 5px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -45px;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltipText {
  visibility: visible;
}

.tooltip .tooltipText::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
