header {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0 20px;
  background-color: rgb(68, 95, 53);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  span {
    width: 25%;
    display: flex;
    justify-content: space-between;
  }
}
.navLink {
  text-decoration: none;
  color: white;
}
.navLink:hover {
  color: grey;
}
.pageWrapper {
  max-width: 700px;
  margin: 0 auto;
}
