@import "../../../styles/font_styles";
.searchSorry {
  font-size: $large;
}
.loadingFlower {
  margin-top: 20px;
  font-size: $large;
  animation: rotation 2s infinite linear;
  -webkit-animation: rotation 2s infinite linear;
}
.searchButton {
  margin-top: 20px;
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
