// $marigold: #f29829;
// $sunny: #f2cd13;
// $dark-green: #024034;
// $dark-grey: #77848c;
// $light-grey: #aeb7bf;
// $smoke: #ccd3d9;

$light: rgba(225, 217, 216, 1);
$red: rgba(147, 51, 51, 1);
$yellow: rgba(209, 149, 85, 1);
$green: rgba(46, 70, 46, 1);
$dark: rgba(25, 30, 22, 1);
