$header: 4em;
$pageHead: 3em;
$tileHead: 1.3em;
$inputAndButton: 1.5em;

@import url("https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script");

$displayFont: "Oleo Script", Georgia, Times New Roman, serif;
$copyFont: "Monserrat", Helvetica, Arial, sans-serif;
