$extraLarge: 4rem;
$large: 3rem;
$medium: 1.8rem;
$smedium: 1.5rem;
$small: 1rem;

@import url("https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script");

$displayFont: "Oleo Script", Georgia, Times New Roman, serif;
$copyFont: "Monserrat", Helvetica, Arial, sans-serif;
