@import "../../styles/colors";
@import "../../styles/font_styles";

.homePageWrapper {
  // background: url("../../images/annie-spratt-42051-unsplash_edit.jpg") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-width: 100%;
  display: flex;
}
.homePageContent {
  align-content: center;
  padding: 0 10px;
  font-size: $large;
  mark {
    background-color: $yellow;
    font-family: $displayFont;
    font-size: $extraLarge;
    color: $green;
    padding: 0 5px;
  }
}
