@import "../../../styles/colors";
@import "../../../styles/font_styles";
@import "../../../styles/media_queries";

.header {
  z-index: 1;
  background: $light;
  overflow: hidden;
  padding-top: 7px;
  width: 100%;
  height: 200px;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 1px 15px $dark;
  .headerLinks {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  h1 {
    margin: 0;
    font-weight: 900;
    font-size: $extraLarge;
    letter-spacing: 3px;
    cursor: pointer;
    color: $green;
    font-family: $displayFont;
    text-shadow: 3px 4px 1px $yellow;
    font-weight: 100;
  }
  h1:active,
  h1:hover {
    color: $red;
    text-shadow: 2px 2px 1px $yellow;
  }
  .sproutIcon {
    max-width: 60px;
    height: 60px;
  }
}
.authLink {
  margin: 0 15px;
  color: $green;
  font-family: $displayFont;
  text-shadow: 1px 1px 1px $yellow;
}
@include for-phone-only {
  .header {
    width: 100%;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .headerLinks {
      width: 100%;
      margin: 5px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: $medium;
      order: 2;
    }
    .authLink {
      font-size: $medium;
    }
  }
}
@include for-tablet-portrait-up {
  .header {
    justify-content: space-between;
    img {
      margin-left: 10px;
    }
    .authLink {
      font-size: $smedium;
      align-items: center;
      width: 50%;
      justify-content: space-around;
    }
  }
}
@include for-tablet-landscape-up {
  .header .authLink {
    font-size: $medium;
  }
}
