@import "../../../styles/colors";
@import "../../../styles/font_styles";
@import "../../../styles/media_queries";

.header {
  z-index: 1;
  background: $light;
  overflow: hidden;
  max-width: 25vw;
  min-width: 22vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-right: 1px solid $yellow;
  .headerLinks {
    width: 70%;
    height: 20%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid $yellow;
    padding: 10px;
    border-radius: 5px;
    hr {
      width: 100%;
    }
  }
  h1 {
    white-space: nowrap;
    margin: 20px 5px;
    font-size: $large;
    letter-spacing: 3px;
    cursor: pointer;
    color: $green;
    font-family: $displayFont;
    text-shadow: 3px 4px 1px $yellow;
    font-weight: 100;
    transition: all 0.3s;
  }
  h1:active,
  h1:hover {
    color: $red;
    text-shadow: 2px 2px 1px $yellow;
  }
  .sproutIcon {
    margin: 5px;
    max-width: 40px;
    height: 40px;
  }
}
.headerAlert {
  width: 85%;
  padding: 20px;
  color: $red;
}
.authLink {
  margin: 0 15px;
  color: $green;
  font-family: $copyFont;
  font-size: $medium;
  // text-shadow: 1px 1px 1px $yellow;
}
@include for-phone-only {
  .header {
    width: 100%;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .headerLinks {
      width: 100%;
      margin: 5px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: $medium;
      order: 2;
    }
    .authLink {
      font-size: $medium;
    }
  }
}
@include for-tablet-portrait-up {
  .header {
    .authLink {
      font-size: $smedium;
      align-items: center;
      width: 50%;
      justify-content: space-around;
    }
  }
}
// @include for-tablet-landscape-up {
//   .header .authLink {
//     font-size: $medium;
//   }
// }
