@import "../../../styles/colors";
@import "../../../styles/font_styles";
.linkWrapper {
  font-weight: 900;
  font-size: $large;
  font-family: $displayFont;
  text-decoration: none;
  color: $green;
  text-shadow: 2px 3px 1px $yellow;
}
