@import "../../../styles/colors";
@import "../../../styles/media_queries";

.contentWrapper {
  margin: auto;
  padding: 30px;
  background-color: rgba($light, 0.95);
  border: solid 1px $green;
  border-radius: 5px;
}

@include for-phone-only {
  .contentWrapper {
    padding: 5px;
    margin: 20px;
  }
}
