@import "../../../styles/colors";
@import "../../../styles/media_queries";

.contentWrapper {
  align-self: center;
  justify-content: center;
  margin: auto;
  padding: 5px 0 15px 0;
  background-color: rgba($light, 0.95);
  border: solid 1px $green;
  border-radius: 5px;
  width: 90%;
}

@include for-phone-only {
  .contentWrapper {
    margin: 20px;
  }
}

@include for-tablet-landscape-up {
  .contentWrapper {
    width: 70%;
  }
}
