@import "../../../styles/colors";
@import "../../../styles/font_styles";

.buttonComponent {
  width: 70%;
  max-width: 300px;
  background-color: $yellow;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 2px $light;
  font-size: medium;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: $red;
  padding: 10px 20px;
  margin: 20px 0;
}

.buttonComponent:hover,
.buttonComponent:active {
  box-shadow: 2px 2px 2px $light;
  color: #ffffff;
}
