@import "../../../styles/colors";
@import "../../../styles/font_styles";

.buttonComponent {
  font-family: $copyFont;
  font-weight: 700;
  letter-spacing: 1px;
  width: 100%;
  max-width: 400px;
  border: 1px solid $green;
  border-radius: 5px;
  background-size: 100% 200%;
  background-image: linear-gradient(to top, $green 50%, $light 50%);
  color: $dark;
  transition: background-position ease-out 0.4s;
  padding: 20px;
  margin: 2px;
  cursor: pointer;
  .small {
    font-size: $small;
  }
  .large {
    font-size: $large;
  }
}

.buttonComponent:hover,
.buttonComponent:active {
  background-position: 0 100%;
  color: $light;
  .red {
    background-color: red;
  }
}
