@import "../../../styles/colors";
@import "../../../styles/font_styles";
@import "../../../styles/media_queries";

.plantTile {
  background-color: $light;
  border-radius: 5px;
  border: 0.5px solid $green;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.tileTitle {
  padding: 20px 0;
  border-radius: 5px 5px 0 0;
  background-color: $green;
  color: $light;
  font-size: $small;
  font-family: $copyFont;
}
.plantTileButtonWrapper {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  button {
    margin: 10px;
  }
}

@include for-tablet-portrait-up {
  .plantTile {
    width: 45%;
  }
}

@include for-phone-only {
  .plantTile {
    width: 90%;
  }
}
