@import "../../../styles/colors";
@import "../../../styles/font_styles";

.plantTile {
  background-color: #ffffff;
  border-radius: 5px;
  border: 0.5px solid $green;
  box-shadow: 4px 4px 3px $light;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.tileTitle {
  padding: 20px 0;
  border-radius: 5px 5px 0 0;
  background-color: $green;
  color: $light;
  font-family: $copyFont;
}
.plantTileButtonWrapper {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  button {
    margin: 10px;
  }
}

@media (max-width: 30rem) {
  .plantTile {
    width: 100%;
  }
}
