@import "../src/styles/colors";
@import "../src/styles/font_styles";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $copyFont;
  color: $dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  background: $light;
  border: 1px solid $dark;
  border-radius: 5px;
  padding: 20px;
  font-size: $small;
  width: 100%;
  max-width: 300px;
  padding: 20px;
  font-size: $small;
  margin: 2px;
}

input:focus,
button:focus,
a:focus {
  outline: 3px solid $red;
  border-radius: 0;
}
