@import "../../../styles/font_styles";
@import "../../../styles/colors";

.activeUserWrapper {
  background-image: linear-gradient($light, $yellow);
  border-top: 1px solid $red;
  z-index: 2;
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.activeUserContent {
  display: flex;
  align-items: center;
}
.activeUserImageWrapper {
  max-width: 50px;
  max-height: 50px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 10px;
}
.activeUserImage {
  max-height: 50px;
  object-fit: contain;
}
.displayName {
  font-family: $displayFont;
  font-size: $medium;
}

.signOutButton {
  padding: 5px;
  width: 20%;
  font-size: $small;
  box-shadow: 1px 4px 5px $dark;
}
