@import "../../../styles/colors";
@import "../../../styles/font_styles";
.signWrapper {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-self: baseline;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: $light;
  align-items: center;
  box-shadow: 0 -1px -15px $dark;
}
